/* Header.css */
.brand {
    color: gold;
    font-size: 24px;
  }
  
  .nav-link {
    color: white;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: gold;
  }
  
  .active-link {
    font-weight: bold;
  }
  